<!-- <input [(ngModel)]="data" type="text"> 
<h1>hiii {{data}}</h1>
<button class="a" [disabled]="!bool" (click)="bala()">create</button>
<p> {{a}}</p>
<app-server></app-server>
<app-server></app-server>-->


<!-- <button  [disabled]="z" (click)="changeNum()" >Click Me!</button> 
<p [innerHtml]="large"> </p>-->

<!-- <p [hidden]="a">small num is :{{getMax(20,300)}}</p> -->
<!-- <input [hidden]="a" {{getMax(20,300)}}> -->
<!-- <h1 [innerHTML]="title"></h1> 

<button (click)="findLargestNumber()" [disabled]="isDisabled">Click Me</button>

<p *ngIf="server">Largest Number: {{ largestNumber }}</p>


<h1>Two-Way Binding Example</h1>
<input type="text" [(ngModel)]="message" >
<p>You typed: {{ message }}</p>-->


<!-- <label>Name</label> 
<input type="text" [(ngModel)]="serverName">
<button class="btn btn-primary"  (click)="but()">clickme!</button>
<button class="btn btn-danger" (click)="deleteServer()">delete</button><br>
 <p *ngIf="server2">No server was created</p> 
<p *ngIf="server1;else server2">{{server3}}</p>
<ng-template #server2>No  server was created</ng-template>-->
<!-- <p *ngFor="let servers of serverStatus">{{servers}}</p> -->
<!-- <table class="table-responsive" *ngIf="tab"> 
    <thead>
      <tr>
        <th scope="col">si.no</th>
        <th scope="col">name</th>
        <th scope="col">age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of  items; index as i;let f=first;let e=even;" [ngClass]="{'bg-primary':f}">
       <th scope="row">1</th> 
        <td >{{i+1}}</td>
        <td> {{item.name}}</td>
        <td> {{item.age}}</td>
      </tr>
    </tbody>
  </table><br><br>

<p *ngFor="let server of servers" [ngStyle]="{'background-color':'green','color':'yellow'}">{{server }}</p>-->


<!-- <input type="text" [(ngModel)]="name">  

<p>You Enterd a Name: {{name}}</p> 
<div>
  <p>
   counter= {{math.san}}
  </p>
  <button (click)="inc()">click</button>
</div>-->

<input type="text" [(ngModel)]="name"> 


 


