<!-- Simple Increase 
 <h1>Child Component</h1> 
<button class="btn btn-success" (click)="increase()">Increase</button>
<h3>{{counterValue}}</h3>-->

<!-- TestServer 
<label>Server1</label>
<input type="text" name="mark5" [(ngModel)]="server1" class="form-control">

<label>Server2</label>
<input type="text" name="mark5" [(ngModel)]="server2" class="form-control">
<button class="btn btn-success" (click)="addServer()">AddServer</button>-->

<!-- <p>{{arr.name}}</p> -->
<h1>Department:CSE</h1>
<h5>Name:GokulKannan</h5>
<p>i am from tiruppur</p>
<p>KLN College of engineering</p>